HELP.md
# Compiled class file
*.class

# Log files
*.log

# Build artifacts
target/
build/
dist/
nbdist/

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.sts4-cache

### Spring Tool Suite (STS) / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
.nb-gradle/

### VS Code ###
.vscode/

### Database files ###
vmdb.mv.db
vmmanager.db

### Frontend ###
# Node modules
/src/main/frontend/node_modules/
# Downloaded Node.js binary
/src/main/frontend/node/
